@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Mvc.Rendering
@model List<string>
@{
    Layout = "_Layout";
}
@{ViewBag.Title = "Index";}
<header id="header">
    <h1>Tracking of ISS SpaceShip</h1>
    <h3> by Yevhen Dombrovskyi</h3>
    <div class="container">
       
        <h4>Tracking of current location of ISS spaceship</h4>
        <div id="map" style="alignment: right "></div>
        <ul>
            <h5>Measurment speed and distance between two points of ISS SpaceShip : </h5>
            <li id="start">latitude from start point of measurement is : @Model[0]</li>

            <li id="start">longtitude from start point of measurement is: @Model[1]</li>

            Measurment time is : 10 sec

            <li id="finish">latitude from end point of measurement is : @Model[2]</li>

            <li id="finish">longtitude from end point of measurement is: @Model[3]</li>

            <li id="result">Distance between start and finish points : @Model[4] km</li>

            <li id="result">Speed of ISS station: @Model[5] km/hour</li>

            <li style="color: gold">Time from last measurment : @Model[6] </li>
            <li> Current time is :</li>
            <li id="time"></li>
        </ul>
    </div>
</header>
<footer id="footer">
    <p>Contact : </p>
    <ul class="icons">
        <li><a href="https://www.linkedin.com/in/yevhen-dombrovskyi-a32062115/"><i class="icon fa-linkedin fa-3x"></i></a></li>
        <li><a href="mailto:ydombrovskyi@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
     <li>Yevhen Dombrovskyi 2019 - CosmicTracker</li>
    </ul>
</footer>











